/* Coffee Page Style's Card */
.c-card1{
    background-image: url("../photos/RedEye\ Coffee.jpg");
  }
  .c-card2{
    background-image: url("../photos/mocha\ coffee.png");
  }
  .c-card3{
    background-image: url("../photos/ColdBrew\ Coffee.jpg");
  }
  .c-card4{
    background-image: url("../photos/Black\ Coffee.jpg");
  }
  .c-card5{
    background-image: url("../photos/Angel\ cake.jpg");
  }
  .c-card6{
    background-image: url("../photos/Carrot\ cake.jpg");
  }
  .c-card7{
    background-image: url("../photos/Cheese\ cake.jpg");
  }
  .c-card8{
    background-image: url("../photos/Chocolate\ cake.jpg");
  }
  


/* card style section 2 */
.buy-card{
    width: 100%;
    height: 150px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    overflow: hidden;
   }
   .text{
    width: 50%;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
   }
   @media (min-width: 768px) {
    .bg-card{width: 35%;}
    .text{width: 75%;}
  }
   .span-card{
    color: #e25822;
    font-weight: bold;
   }
   .tit-card{
    font-weight: bold;
   }
   .bg-card{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }
   .bg5{
    background-image: url("../photos/fish\ &\ chips.jpg");
   }
   .bg6{
    background-image: url("../photos/Mushroom\ Burger.jpg");
    order: 2;
   }
   .bg7{
    background-image: url("../photos/hotdog\ sandwich.jpg");
   }
   .bg8{
    background-image: url("../photos//spaghetti\ &\ meatballs.jpg");
    order: 2;
   }
   .bg9{
    background-image: url("../photos/crispy\ fried\ chicken.jpg");
   }
   .juice-card{
    background-image: url("../photos/fresh\ lemonade.jpg");
  }
  .juice-card2{
    background-image: url("../photos/orange\ juicee.jpg");
  }
  .juice-card3{
    background-image: url("../photos/soda\ in\ a\ bottle.jpg");
  }
  .juice-card4{
    background-image: url("../photos/sparkling\ water.jpg");
  }
  .juice-card5{
    background-image: url("../photos/purified\ water.jpg");
  }
