/* Text of Crousel */
.bg-slide{
  background: rgba(5, 5, 5, 0.7);
  background-blend-mode: multiply;
}
/* Card Style Section 1 */
.card-css{
  border-radius: 10px;
  padding: 10px;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card-css i{
color: #e25822;
padding: 5px;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 100%;
box-shadow: rgba(172, 167, 167, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* Link's Card Section 1 */
.rcard1{
    background-image: url("../photos/burger.jpg");
}
.rcard2{
    background-image: url("../photos/Pizza.jpeg");
}
.rcard3{
    background-image: url("../photos/Bobotie.jpg");
}
.rcard4{
    background-image: url("../photos/lasagna.jpg");
}
.rcard5{
    background-image: url("../photos/orange\ juice.jpg");
}
.rcard6{
    background-image: url("../photos/pineapple\ juice.jpg");
}
.rcard7{
    background-image: url("../photos/Pomegranate\ juice.jpg");
}
.rcard8{
    background-image: url("../photos/Seven\ flavors\ juice.jpg");
}

/* card style section 2 */
.buy-card{
    width: 100%;
    height: 150px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    overflow: hidden;
   }
   .text{
    width: 70%;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
   }

   .span-card{
    color: #e25822;
    font-weight: bold;
   }
   .tit-card{
    font-weight: bold;
   }
   .bg-card{
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }
   @media (min-width: 768px) {
    .bg-card{width: 40%;}
    .text{width: 60%;}
  }
   /* Link's Card Section 2 */
   .bg5{
    background-image: url("../photos/fish\ &\ chips.jpg");
    background-position: left;
   }
   .bg6{
    background-image: url("../photos/Mushroom\ Burger.jpg");
    order: 2;
   }
   .bg7{
    background-image: url("../photos/hotdog\ sandwich.jpg");
   }
   .bg8{
    background-image: url("../photos//spaghetti\ &\ meatballs.jpg");
    order: 2;
   }
   .bg9{
    background-image: url("../photos/crispy\ fried\ chicken.jpg");
   }
   .juice-card{
    background-image: url("../photos/fresh\ lemonade.jpg");
  }
  .juice-card2{
    background-image: url("../photos/orange\ juicee.jpg");
  }
  .juice-card3{
    background-image: url("../photos/soda\ in\ a\ bottle.jpg");
  }
  .juice-card4{
    background-image: url("../photos/sparkling\ water.jpg");
  }
  .juice-card5{
    background-image: url("../photos/purified\ water.jpg");
  }
  /* Button Style */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
