/* Home Page Style */
.ho{
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;

}
.ho-2{
  border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
}
.nav-link2{
  text-decoration: none;
}
.i-shop{
  padding: 10px;
  color: #ffc107;
}
.p-4{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;   
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}
.he{
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold; 
}
/* bg header style */
.back{
    width: 100%;
    height: 100vh;
    background-image: url("../photos/First\ Page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
/* Home Page - Card Style */
.card-css{
    border-radius: 10px;
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card-css i{
  color: #e25822;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  box-shadow: rgba(172, 167, 167, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* Card Links */
.card1{
    background-image: url("../photos/Restaurant.jpg");
}
.card2{
    background-image: url("../photos/Coffee.jpg");
}
.card3{
    background-image: url("../photos/Swimming\ Pool.jpg");
}
.card4{
    background-image: url("../photos/1.jpg");
}
/* Button Style */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.aboutUs{
    background-color: gray;
}
.fs-25{
    text-wrap: wrap;
    font-size: 11px;
    font-weight: bold;
}
.color{
    border-bottom: 4px solid #e25822;
    width: 150px;
    
}
.color-3{
    color: #e25822;
}
.bg-slide{
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

}
/* Border - Other Foods and Drinks */
.food-border{
    display: block;
    width: 150px;
    border-bottom: 5px solid #e25822;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}
.use-free{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}
.accordion-header1:focus{
  background-color: #ffc107  !important;

}
.accordion-button:focus{
  background-color: #ffc107  !important;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color:#ffc107 
  background-color: #ffc107  !important;
  box-shadow:none !important;
}

